/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    color: #333;
    margin: 0;
}

header p {
    font-size: 18px;
    color: #666;
    margin: 0;
}

/* Main section */
#new-post {
    margin-bottom: 30px;
}

#new-post h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#new-post input,
#new-post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#new-post textarea {
    resize: vertical;
}

#new-post button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#new-post button:hover {
    background-color: #555;
}

/* Timeline */
#timeline {
    margin-bottom: 30px;
}

#timeline h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.post h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.post p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.post p a {
    color: #333;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

footer h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

footer p a {
    color: #333;
    text-decoration: none;
}


/* Estilizando o ícone de curtida */
.fa-thumbs-up {
    color: blue; /* Define a cor do ícone */
    font-size: 20px; /* Define o tamanho do ícone */
    margin-right: 5px; /* Define a margem à direita do ícone */

  }
  
  /* Estilizando a contagem de likes */
  .like-count {
    font-weight: bold; /* Define a fonte em negrito para a contagem de likes */
  }

  .button-like {
    cursor: pointer;
}

.transparent-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.fa-trash {
    color: blue; /* Define a cor do ícone */
    font-size: 20px; /* Define o tamanho do ícone */
    margin-right: 5px; /* Define a margem à direita do ícone */

  }
  .row-buttons {
    display: flex;
    align-items: center;
    vertical-align: middle;

  }
  
  .row-buttons p {
    margin-right: 10px;
  }
  
  .row-buttons button {
    margin-right: 10px;
  }